<nav class="navbar mb-5" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navMenu" class="navbar-menu">
    <div class="navbar-start">
        {{range .Site.Menus.main}}
        <a class="navbar-item" href="{{.URL}}">
          {{$text := print .Name | safeHTML }}
          {{$text}}
        </a>
        {{end}}
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
          {{range .Site.Params.social}}
          <span class="social-btn mr-3">
            <a href="{{ .URL }}" target="_blank">
              {{ if .icon }}
              {{ $icon := printf "<i data-feather=\"%s\"></i> " .icon | safeHTML }}
              {{ $icon }}
              {{ end }}
            </a>
          </span>
          {{end}}
      </div>
    </div>
  </div>

    
</nav>

<div class="has-text-centered">
  {{$author := print .Site.Params.home.name | safeHTML}}
  <p class="title" style="font-weight: 400">{{$author}}</p>
</div>
<hr />