.feather {
    stroke-width: 1.2;
}

@include until($navbar-breakpoint) {

    
    .navbar-menu {
      display: block;
      opacity: 0;
  
      position: absolute;   /* or float: left; width: 100%;*/
      left: 0;
      right: 0;
  
      transform: translateY(-50%);
      transition: all .4s ease-in-out;
      pointer-events: none;
    }
  
    .navbar-menu.is-active {
      opacity: 1;
      transform: none;
      pointer-events: auto;
    }
  }

@include from($navbar-breakpoint) {
    .navbar-start {
        margin-left: 2rem;
    }
}


.social-btn > a {
    color: $gunmetal;
}

.social-btn > a:hover {
    color: darken($gunmetal, 50%);
}

.card {
    box-shadow: 0 2px 4px rgba(131, 113, 113, 0.5);
}


section.profile {
    max-width: $main-width;
    margin: auto;
}

@include until($tablet) {
    .profilepic {
        width: 58%;
        margin: auto;
    }
}