<section class="section" id="about">
    <section class="columns" id="profile">
      <figure class="image column is-4">
        {{with .Site.Params.home}}
        <div class="card profilepic">
          {{$profilepic := printf .profilepic | relURL }}
          <img
            src="{{ $profilepic }}"
            alt="profilepic"
            class="profilepic"/>
        </div>
        {{end}}
      </figure>

      {{ with .Site.GetPage }}
      <div class="column is-8 content-text">
        {{.Content}}
      </div>
      {{end}}

    </section>
</section>