{{ define "main" }}
<div class="item-list" style="max-width: 800px;margin: 0 auto">
<!-- <h1>{{ .Title }}</h1> -->
{{ template "_internal/pagination.html" . }}
{{ range .Paginator.Pages.ByPublishDate.Reverse }}
<p>
    <h2><a class="post-title"  href="{{ .Params.link }}">{{ .Title | markdownify}}</a></h2>
    {{ partial "metadata.html" . }}
    
    <p class="pub-container">
        {{ with .Params.imagelink }}
            <img class="post-image" src="{{ . }}"/>
        {{ end }}
        {{ .Summary  }}
    </p>

</p>
<br>
<hr>
<!-- <br> -->
{{ end }}
</div>
{{ end }}